.calendar {
    .cal-row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;

        .cal-col {
            padding: 5px 10px;
            flex: 1;
        }
        .cal-cell {
            box-shadow: -1px -1px #00a65a, inset -1px -1px 0 0 #00a65a;
            min-height: 80px;

            .total {
                border-top: 1px solid #00a65a;
                text-align: right;
            }
        }
        .cal-head {
            text-align: center;
        }
        .cell-secondary {
            background-color: #d2d6de;
        }
        .cell-primary {
            background-color: #008d4c;
            color: #fff;
        }
    }
}